- unless smart_listing.empty?
  %table.table.table-striped
    %thead
    %tr
      %th.col-sm-2= "Author"
      %th.col-sm-2= "Title"
      %th.col-sm-4= "Description"
      %th.col-sm-1.text-center= "Visits"
      %th.col-sm-1.text-center= "Show"
      %th.col-sm-1.text-center= "Edit"
      %th.col-sm-1.text-center= "Destroy"          
    %tbody
      - smart_listing.collection.each do |a|
        %tr
          %td= a.account.fullname
          %td= a.title
          %td= a.description.truncate(50)
          %td.text-center= a.visits_count
          %td.text-center
            %p= link_to "<span class=\"glyphicon glyphicon-sunglasses blue\"></span>".html_safe, a
          %td.text-center
            %p= link_to "<span class=\"glyphicon glyphicon-pencil darkgreen\"></span>".html_safe, edit_article_path(a)
          %td.text-center
            %p= link_to "<span class=\"glyphicon glyphicon-trash red\"></span>".html_safe, a, id: a.id, method: :delete, data: { confirm: 'Are you sure?' }

  -# Render nice pagination links fitted for Bootstrap 3 by default
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %td.row.col-sm-12
    %p.alert.alert-info No records!

        
        