<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "partials/navigation" %>
  <%= yield %>
  <%= render "partials/aside" %>
  <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
</body>
</html>
